nav {
    width: 100%;
    background-color: #4c64de; /* Background color */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between; /* Space between logo and nav items */
    align-items: center; /* Vertically center items */
    padding: 0 20px; /* Add padding to the sides */
 
    transition: background-color 0.3s ease; /* Smooth transition for background */
  }
  
  nav.scrolled {
    background-color: #4c64de; /* Same color when scrolled */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Add shadow when scrolled */
  }
  
  /* Logo Styles */
  .logo a {
    font-family: 'Mukta', ui-sans-serif, system-ui, sans-serif;
    color: #ffebc8; /* Text color */
    font-size: 24px; /* Adjust size as needed */
    font-weight: bold;
    text-decoration: none;
  }
  
  /* Navigation Menu Styles */
  nav ul {
    display: flex;
    margin: 0;
    padding-right: 20px;
    list-style: none;
  }
  
  nav ul li {
    display: inline-block;
  }
  
  nav ul li a {
    padding: 18px;
    font-family: 'Mukta', ui-sans-serif, system-ui, sans-serif;
    color: #ffebc8; /* Text color */
    font-size: 18px;
    text-decoration: none;
    display: block;
    transition: color 0.3s ease; /* Smooth transition for text color */
  }
  
  nav ul li a:hover {
    color: #f9ae37; /* Hover text color */
  }

  nav ul li a.active {
    color: #f9ae37; /* Hover text color */
  }