.about-second-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    padding: 100px;
    height: 50vh; /* Adjust the section height */
    background-color: none; /* Optional: Light background for contrast */
    position: relative;
    z-index: 10;
    
  }
  
  .about-title-container {
    justify-content: space-between;
    height: 100%;
  }
  
  .about-title2 {
    margin-top: 0px;
    font-size: 60px;
    text-align: left;
    align-self: flex-start;
    font-family: 'Antonio', sans-serif; /* Keep font consistent */
    color: rgba(255, 255, 255, 0); /* Invisible solid text */
    -webkit-text-stroke: 2px white;
  }
  
  .about-title3 {
    margin-top: 0px;
    font-size: 60px;
    text-align: right;
    align-self: flex-end;
    font-family: 'Antonio', sans-serif; /* Keep font consistent */
    color: rgba(255, 255, 255, 0); /* Invisible solid text */
    -webkit-text-stroke: 2px white;
    transition: color 0.6s ease-in-out, text-shadow 0.6s ease-in-out;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    will-change: color, text-shadow;
  }
  
  .about-title3:hover {
    color: white;
    -webkit-text-stroke: 0px white;
    text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.8); /* Glowing effect */
    backface-visibility: hidden;
  }