/* projectpage.css */

/* General Page Styles */
.project-page {
    position: relative;
    z-index: 50; /* Ensure this is above the particles background */
    min-height: 100vh; /* Ensure the page takes up full height */
    background-color: transparent !important; /* Matches your desired background color */
    padding: 2rem;
    box-sizing: border-box;
}


