 /* From Uiverse.io by m1her */ 

 .radio-button-container {
    padding-right: 3rem;
    margin-top: -100px;
  }
  
  .radio-input {
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: rgba(249, 174, 55, 0.8); /* Slightly opaque background */
    padding: 8px;
    border-radius: 8px;
    overflow: hidden;
    height: 70px;
  }
  
  .radio-input input {
    display: none;
  }
  
  .radio-input .label {
    width: 70px;
    height: 50px;
    background-color: #4c64de;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 8px 6px;
    border-top: 1px solid #ffebc8;
    transition: all 0.1s linear;
    position: relative;
    z-index: 2;
  }
  
  .label .back-side {
    position: absolute;
    top: -10px;
    left: 0px;
    background-color: #4c64de;
    border-radius: 4px 4px 2px 2px;
    width: 100%;
    height: 14px;
    box-shadow:
      inset 0 5px 3px 1px rgba(0, 0, 0, 0.5),
      inset 0px -5px 2px 0px rgba(56, 163, 224, 0.1);
    transform: perspective(300px) rotateX(50deg);
    z-index: 1;
    opacity: 0;
    transition: all 0.1s linear;
  }
  
  .label:has(input[type="radio"]:checked) .back-side {
    opacity: 1;
  }
  
  .label:has(input[type="radio"]:checked) {
    transform: perspective(200px) rotateX(-18deg);
    transform-origin: 50% 40%;
    box-shadow: inset 0px -20px 15px 0px rgba(0, 0, 0, 0.5);
    border-top: 1px solid #4c64de;
    margin-top: 6px;
    border-radius: 0 0 4px 4px;
  }
  
  .label .text {
    color: #ffebc8;
    font-family: 'Mukta', ui-sans-serif, system-ui, sans-serif;
  
    font-size: 12px;
    line-height: 12px;
    padding: 2px;
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    transition: all 0.1s linear;
    text-shadow: -1px -1px 1px rgb(224, 224, 224, 0.1);
  }
  
  .label input[type="radio"]:checked + .text {
    color: #f9ae37;
    text-shadow:
      0px 0px 8px #f9ae37,
      1px 1px 2px rgb(0, 0, 0, 1);
  }
  
  .label .bottom-line {
    width: 100%;
    height: 4px;
    border-radius: 999px;
    background-color: #ffebc8;
    box-shadow: 0 0 1px 0px rgb(19, 19, 19);
    border-top: 1px solid #f9ae37;
    transition: all 0.1s linear;
  }
  
  .label:has(input[type="radio"]:checked) .bottom-line {
    background-color: #1a1a1a;
    border-top: 1px solid #ffebc8;
  }
  
    